<div class="session">
    <header class="background"></header>
    <div class="test">
        <div ng-controller="formctrl" ng-app="myApp">
            <form class="user" method="post" novalidate [formGroup]="form">
                <div class="divider"></div>
                <div fxLayout="column" fxLayoutAlign="space-around">
                    <div class="form-group">
                        <label>Title Code</label>
                        <mat-radio-group>
                            <mat-radio-button value="1">MR.</mat-radio-button>
                            <mat-radio-button value="2">MRS.</mat-radio-button>
                            <mat-radio-button value="2">MISS.</mat-radio-button>
                        </mat-radio-group>
                        <div class="text-xs-center pb-1">
                            <div class="pb-1">
                                <mat-form-field style="width: 100%">
                                    <input matInput type="firstname" placeholder=" First Name"
                                        [formControl]="form.controls['firstname']">
                                </mat-form-field>
                                <small
                                    *ngIf="form.controls['firstname'].hasError('required') && form.controls['firstname'].touched"
                                    class="mat-text-warn">Required.</small>
                            </div>
                            <div class="pb-1">
                                <mat-form-field style="width: 100%">
                                    <input matInput type="number" placeholder=" Mobile Number"
                                        [formControl]="form.controls['number']">
                                </mat-form-field>
                                <small
                                    *ngIf="form.controls['number'].hasError('required') && form.controls['number'].touched"
                                    class="mat-text-warn">Required.</small>
                            </div>
                            <div class="pb-1">
                                <mat-form-field style="width: 100%">
                                    <mat-label>Nationality</mat-label>
                                    <mat-select placeholder="Select" [formControl]="form.controls['nation']">
                                        <mat-option>American</mat-option>
                                        <mat-option>Indian</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <small
                                    *ngIf="form.controls['nation'].hasError('required') && form.controls['nation'].touched"
                                    class="mat-text-warn">Required.</small>
                            </div>
                            <div class="pb-1">
                                <mat-form-field style="width: 100%">
                                    <input matInput [matDatepicker]="picker" placeholder="Birth Date"
                                        [formControl]="form.controls['date']">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <small
                                    *ngIf="form.controls['date'].hasError('required') && form.controls['date'].touched"
                                    class="mat-text-warn">Enter Valid Date.</small>
                            </div>
                            <div class="pb-1">
                                <mat-form-field style="width: 100%">
                                    <input matInput type="address" placeholder=" Address"
                                        [formControl]="form.controls['address']">
                                </mat-form-field>
                                <small
                                    *ngIf="form.controls['address'].hasError('required') && form.controls['address'].touched"
                                    class="mat-text-warn">Required.</small>
                            </div>
                            <div class="pb-1">
                                <mat-form-field style="width: 100%">
                                    <input matInput type="number" placeholder=" Address Stay Duration"
                                        [formControl]="form.controls['number']">
                                </mat-form-field>
                                <small
                                    *ngIf="form.controls['number'].hasError('required') && form.controls['number'].touched"
                                    class="mat-text-warn">Required.</small>
                            </div>
                        </div>
                        <div>
                            <label>Marital Status </label>
                            <mat-radio-group>
                                <mat-radio-button value="1">Single</mat-radio-button>
                                <mat-radio-button value="2">Married</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <span class="example-spacer"></span>
                        <mat-card-actions align="end">
                            <button mat-raised-button color="primary" type="next">Next</button>
                        </mat-card-actions>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>